{% extends "dashboard.html" %}

{% block content %}
<h2>Courses with available spots</h2>


<div class="table-container">
    <table class="dashboard-table">
        <thead>
            <tr>
                <th>Curse</th>
                <th>Level</th>
                <th>Enrollments</th>
                <th>Available Spots</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.level }}</td>
                <td>{{ course.current_enrollments }}</td>
                <td>{{ course.available_spots }}</td>
            </tr>
            {% else %}
            <tr><td colspan="4">No Course with available spots.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
